@model IEnumerable<GestionHospitalisation.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des Patients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNaiss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mutuelle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNaiss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mutuelle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodePat">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodePat">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodePat">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
