@model IEnumerable<GestionHospitalisation.Models.Hospitalisation>

@{
    ViewData["Title"] = "Liste des Hospitalisations";
}

<h1>Liste des Hospitalisations</h1>
<form asp-action="ListeHospitalisations" method="get">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Rechercher...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i> Rechercher
                </button>
                <a asp-action="ListeHospitalisations" class="btn btn-outline-danger">
                    <i class="fas fa-times"></i> Effacer
                </a>
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Service.LibServ)
            </th>
            <th>
                Patient
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DateSortie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Frais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.LibServ)
                </td>
                <td>
                    @($"{item.Patient.Nom} {item.Patient.Prenom}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSortie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Frais)
                </td>
            </tr>
        }
    </tbody>
</table>