@model IEnumerable<GestionHospitalisation.Models.Hospitalisation>

@{
    ViewData["Title"] = "Liste des Hospitalisations";
}

<h1>Liste des Hospitalisations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Service.LibServ)
            </th>
            <th>
                Patient
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DateSortie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Frais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.LibServ)
                </td>
                <td>
                    @($"{item.Patient.Nom} {item.Patient.Prenom}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSortie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Frais)
                </td>
            </tr>
        }
    </tbody>
</table>